@page "/counter"
@using Apollo.Counter.Domain;
@inject IContext context

<h1>Counter</h1>

<p role="status">Current count: @currentCount.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private Apollo.Counter.Domain.Counter currentCount;

    private void Initialize()
    {
    }

    private void IncrementCount()
    {
        currentCount.IncrementCount();
        context.CounterRepository.UpdateCounter(currentCount);
    }

    protected override async Task OnInitializedAsync()
    {
        currentCount = context.CounterRepository.GetCounter();
    }
}
